{{#partial "content"}}
    <div class="row">
        <div class="col-md-6">
            <i class="fas fa-jedi text-center" style="font-size: 60px;"></i>
            <h1>Enter a hero you like hero you like</h1>
            <h3>NOTE: The length of name of the power or weakness is assigned a corresponding value. <b>eg(strong: 6 or weak:4)</b></h3>

                <form action="/heros/new/" method="post">
                    <label for="name">Enter the heros Name: </label><br>
                    <input type="text", id="name" name="name" class="form-control"><br>

                    <label for="power">Choose the Hero You want</label><br>
                    <input type="text" name="power" id="power"><br>

                    <label for="weakness">Enter the weakness of the Hero Entered</label><br>
                    <input type="text" name="weakness" id="weakness"><br>

                    <label for="age">Enter age:</label><br>
                    <input type="number" name="age" id="age">

                    <button type="submit" class="btn btn-info" >CREATE HERO</button>
                </form>


        </div>

        <div class="col-md-6">
            <h2>List of Heros</h2>
            {{#if heros}}
               {{#each heros}}
                   <div class="heroshow">
                       <h3>Hero Name: {{name}}</h3>
                       <h4>Hero Power: {{power}} :Rating: {{powerMagnitude}}</h4>
                       <h4>Hero Weakness: {{weakness}}: Rating: {{weaknessMagnitude}}</h4>
                       <h5>Age: {{age}}</h5>
                   </div>

                {{/each}}
                </p>
            {{else}}
                <p>You do not Have any heros added yet.</p>

            {{/if}}

        </div>
    </div>

{{/partial}}

{{> layout.hbs}}