{{#partial "content"}}
    <div class="row">
        <div class="col-md-6">
            <i class="fas fa-jedi text-center" style="font-size: 60px;"></i>
            <h1>Enter a hero you like hero you like</h1>
            <h5 class="intro">NOTE: The length of name of the power or weakness is assigned a corresponding value. <b>eg(strong: 6 or weak:4)</b></h5>

                <form action="/heros/new/" method="post">
                    <label for="name">Enter the heros Name: </label><br>
                    <input type="text", id="name" name="name" class="form-control"><br>

                    <label for="power">Choose the Hero You want</label><br>
                    <input type="text" name="power" id="power"><br>

                    <label for="weakness">Enter the weakness of the Hero Entered</label><br>
                    <input type="text" name="weakness" id="weakness"><br>

                    <label for="age">Enter age:</label><br>
                    <input type="number" name="age" id="age"><br>

                    <label for="squad">CHOOSE SQUAD</label><br>
                    <input type = "text" list = "squad" name="squad" required>
                    <datalist id = "squad">
                        <option value = "Anti-sexism">
                        <option value = "Computer-illiteracy">
                        <option value = "Mouth-Ethics">
                        <option value = "Anti-Hogging-bus-seats">
                        <option value = "Anti-passive-aggressive">
                    </datalist>

                    <button type="submit" class="btn-info" >ADD HERO</button>
                </form>
            <div class="col-md-12" id="squads">
                <div>
                    {{#if newSquad}}
                        <p>Power: {{newSquad.strenth}}</p>
                        <p>Member No: {{newSquad.size}}</p>
                    {{/if}}

                    {{#if squads}}
                        <h3>THE SQUADS</h3>
                        {{#each squads}}
                            <div class="squadding">
                                <h4>Name of the squad: {{squadName}}</h4>
                                <h4>Strength: {{strength}}</h4>
                                {{#if newSquad}}
                                    <h4>Member: {{newSquad.getPowerMagnitude}}</h4>
                                {{/if}}

                            </div><hr>
                        {{/each}}


                    {{/if}}
                </div>

            </div>

        </div>

        <div class="col-md-6">
            <h2>List of Heros</h2>
            {{#if heros}}
               {{#each heros}}
                   <div class="heroshow">
                       <h3><i class="fas fa-swords"></i>Hero Name: {{name}}</h3><hr>
                       <h4>Hero Power: {{power}} :Rating: {{powerMagnitude}}</h4>
                       <h4>Hero Weakness: {{weakness}}: Rating: {{weaknessMagnitude}}</h4>
                       <h5>Age: {{age}}</h5>
                       <h5>Squad: {{squadName}}</h5>
                       <p><a href="/heros/{{id}}" style="color:red;">See More</a></p>
                   </div>

                {{/each}}
                </p>
            {{else}}
                <p>You do not Have any heros added yet.</p>

            {{/if}}

        </div>


    </div>


{{/partial}}

{{> layout.hbs}}